{% load static %}
    <footer id="footer" class="footer-area section-padding">
      <div class="container">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              <div class="widget">
                <h3 class="footer-logo"><img src="assets/img/logo.png" alt=""></h3>
                <div class="textwidget">
                  <p>Tiramos sua ideia do papel e damos vida para o seu projeto digital.</p>
                </div>
                <div class="social-icon">
                  <a class="facebook" href="#"><i class="lni-facebook-filled"></i></a>
                  <a class="twitter" href="#"><i class="lni-twitter-filled"></i></a>
                  <a class="instagram" href="#"><i class="lni-instagram-filled"></i></a>
                  <a class="linkedin" href="#"><i class="lni-linkedin-filled"></i></a>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
              <h3 class="footer-titel">Serviços</h3>
              <ul class="footer-link">
                <li><a href="#">Desenvolvimento de Sites</a></li>
                <li><a href="#">Apps e Sistemas</a></li>
                <li><a href="#">Tecnologias Atuais</a></li>
                <li><a href="#">Soluções Rápidas</a></li>
                <li><a href="#">Time em Crescimento Explosivo</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
              <h3 class="footer-titel">Preço</h3>
              <ul class="footer-link">
                <li><a href="#">Opções de Pagamento</a></li>
                <li><a href="#">Agende Sua Chamada</a></li>
                <li><a href="#">Comece Já</a></li>
                <li><a href="#">Simples e Rápido</a></li>
                <li><a href="#">Tire Sua Ideia do Papel</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
              <h3 class="footer-titel">Contato</h3>
              <ul class="address">
                <li>
                  <a href="#"><i class="lni-map-marker"></i> Brasília - Distrito Federal</a>
                </li>
                <li>
                  <a href="#"><i class="lni-phone-handset"></i> +55 6698888-7777</a>
                </li>
                <li>
                  <a href="#"><i class="lni-envelope"></i> contato@contatoadm.com</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div id="copyright">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="copyright-content">
                <p>Copyright © 2021 <a rel="nofollow" href="#">Team ADM</a> Todos os Direitos Reservados.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>