{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
    <div class="container">
        <!-- Se tiver algum comando registrado -->
        {% if git %}

            <!-- Iterando nos objetos do banco -->
            <h1 style="color: white;"> Git Comandos </h1>

            <h2> Comandos GIT </h2>
            {% for g in git %}
                <p> <b>Comando:</b> {{ g.comando }} </p>
                <p> <b>Descrição:</b> {{ g.descricao }} </p>
                <br>
            {% endfor %}

        <!-- Se não tiver, mensagem simples -->
        {% else %}
            <h2> Ainda não há comandos registrados. </h2>

        <!-- Fim do IF -->
        {% endif %}
    </div>

    <!-- Footer Section Start -->
      {% include 'footer.html' %}
    <!-- Footer Section End -->

    {% bootstrap_javascript jquery='full' %}
{% endblock %}