{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
    <div class="container">
        <!-- Se tiver algum comando registrado -->
        {% if git %}

            <!-- Iterando nos objetos do banco -->
            <h1 style="color: white;"> Git Comandos </h1>
            <!-- Apresentando os dados com tabela estilisada -->
            <table class="table table-dark">
                <!-- Cabeçalho da tabela -->
                <thead>
                    <tr>
                        <th scope="col"> Desenvolvedor </th>
                        <th scope="col"> Tecnologia </th>
                        <th scope="col"> Comando </th>
                        <th scope="col"> Descrição </th>
                        <th scope="col"> Criado </th>
                    </tr>
                </thead>

                <tbody>
                    <!-- Iterando objetos do banco -->
                    {% for g in git %}
                        <tr>
                            <td scope="row"> {{ g.desenvolvedor }} </td>
                            <td scope="row"> {{ g.tecnologia }} </td>
                            <td scope="row"> {{ g.comando }} </td>
                            <td scope="row"> {{ g.descricao }} </td>
                            <td scope="row"> {{ g.criado }} </td>
                        </tr>
                    <!-- End for -->
                    {% endfor %}
                </tbody>
            </table>

        <!-- Se não tiver, mensagem simples -->
        {% else %}
            <h2> Ainda não há comandos registrados. </h2>

        <!-- Fim do IF -->
        {% endif %}
    </div>

    <!-- Footer Section Start -->
      {% include 'footer.html' %}
    <!-- Footer Section End -->

    {% bootstrap_javascript jquery='full' %}
{% endblock %}