{% extends 'base.html' %} <!-- Herdando página base.html -->
{% load static %} <!-- Carregando static -->
{% block content %} <!-- Bloco de conteúdo exclusivo dessa página -->

    <!-- Hero Area Start -->
      {% include 'header.html' %}
    <!-- Hero Area End -->

    <!-- Features Section Start -->
      {% include 'features.html' %}
    <!-- Features Section End -->

    <!-- Team Section Start -->
      {% include 'equipe.html' %}
    <!-- Team Section End -->

    <!-- Footer Section Start -->
      {% include 'footer.html' %}
    <!-- Footer Section End -->

 <!-- Fim do block content -->
{% endblock %}
