{% extends 'base.html' %} <!-- Herdando página base.html -->
{% load static %} <!-- Carregando static -->
{% block content %} <!-- Bloco de conteúdo exclusivo dessa página -->

    <!-- Checking if user is logged in -->
      {% if request.user.is_authenticated %}
            <div class="container">
                    <h1 style="color: white;"> !! </h1>
                    <h2> Opa {{ user.get_full_name }}! </h2>
                    <button type="button" class="btn btn-success"> <a style="color: white;" href="{% url 'add-comando' %}"> Adicionar comando </a> </button>
                    <button type="button" class="btn btn-primary"> <a style="color: white;" href="{% url 'logout' %}"> Logout </a> </button>

            </div>
      {% endif %}

    <!-- Hero Area Start -->
      {% include 'header.html' %}
    <!-- Hero Area End -->

    <!-- Features Section Start -->
      {% include 'features.html' %}
    <!-- Features Section End -->

    <!-- Team Section Start -->
      {% include 'equipe.html' %}
    <!-- Team Section End -->

    <!-- Footer Section Start -->
      {% include 'footer.html' %}
    <!-- Footer Section End -->

 <!-- Fim do block content -->
{% endblock %}
