{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
    <div class="container">
        <!-- Se tiver algum comando registrado -->
        {% if python %}

            <!-- Iterando nos objetos do banco -->
            <h1 style="color: white;"> Python Comandos </h1>

            <h2> Comandos Python </h2>
            {% for p in python %}
                <p> <b>Comando:</b> {{ p.comando }} </p>
                <p> <b>Descrição:</b> {{ p.descricao }} </p>
                <br>
            {% endfor %}

        <!-- Se não tiver, mensagem simples -->
        {% else %}
            <h2> Ainda não há comandos registrados. </h2>

        <!-- Fim do IF -->
        {% endif %}

    </div>


    <!-- Footer Section Start -->
      {% include 'footer.html' %}
    <!-- Footer Section End -->

    {% bootstrap_javascript jquery='full' %}
{% endblock %}